/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Source Sans Pro', sans-serif;


}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

p {
  padding: 0px;
}

a {
  text-decoration: none;
  color: #3a8e52;
}

/* Navigation */
.trulia-nav {
  background-color: #32b64c;
  color: white;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.trulia-nav ul {
  list-style-type:none;
  padding:0;
}

.trulia-nav ul li {
  display:inline-block;
  margin:0;
  overflow:hidden;
}



.trulia-nav svg {
  height: 25px;
  width: 78px;
}

.trulia-nav-logo {
  min-width: 80px;
  padding: 5px 10px;
}

.trulia-nav-left,
.trulia-nav-right {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.trulia-nav-item,
.trulia-nav-item:visited {
  font-size: 14px;
  padding: 0 12px;
  display:block;
  color:white;
}
  
.trulia-nav-toggle {
  display:none;
}

@media screen and (max-width:1024px){
  .trulia-nav {
    height: auto;
    display: block;
  }
  
  .trulia-nav-toggle {
    display:block;
    color:white;
    font-weight:bold;
    font-size: 2rem;
    margin-right:2rem;
  }
  
  .trulia-nav ul li {
    display:inline-block;
    margin:0;
  }
  
  
  
  .trulia-nav-logo {
    height: 25px;
    width: 78px;
    padding-left:0;
  }
  
  .trulia-nav-left,
  .trulia-nav-right {
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .trulia-nav-left ul,
  .trulia-nav-right ul {
    width:100%;
    display: block;
    margin:0;
  }

  .trulia-nav-left ul li,
  .trulia-nav-right ul li {
    display: block;
    }
  
  .trulia-nav-item,
  .trulia-nav-item:visited {
    display:block;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom:1rem;
    margin-left: 1rem;
  }

  .trulia-nav-mobilehide {
    height:0;
    overflow:hidden;
    width:0;
  }

}


/**
 * CSS CIRCLE - rough how to
 *
 * Circles can be tough, but you can be tougher...
 * What we're doing here is converting the span in the markup into an inline-block
 * That gives us the ability to give the element height and width
 * Some padding and margin tweaks give us a box we can round off border-radius
 * Notice border-radius is the same as the height/width of the inside of the box model
 */
.trulia-nav-item .circleLink {
  border: 2px solid white;
  border-radius: 22px;
  display: inline-block;
  height: 20px;
  padding-top: 2px;
  margin: 0px 5px;
  text-align: center;
  text-transform: uppercase;
  width: 22px;
}



.trulia-breadcrumb-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100px
}

.trulia-breadcrumb-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px 0 0 0;
  padding: 0px 0 0 30px;
}

.trulia-breadcrumb-text h1, p {
  margin: 0px;
  padding: 0px 15px 15px 0px;
  font-size: 14px;
}

/* Look how simple grid is to make work... */
.trulia-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  background-color: #e3e4e6;
  padding: 15px;

}

@media screen and (min-width:1600px) {
  .trulia-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width:1200px) and (max-width:1599px) {
  .trulia-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width:768px) {
  .trulia-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.trulia-grid-item {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 260px;
}





.new-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(45, 191, 102, 0.70);
  color: #fff;
  text-transform: uppercase;
  width: 30px;
  padding: 0px 3px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 12px;
}

.by-owner-box {
  display: flex;
  justify-content: center;
  background-color: rgba(134, 144, 152, 0.45);
  color: #fff;
  text-transform: uppercase;
  width: 110px;
  padding: 0px 3px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 12px;
}

.trulia-house-image {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 160px;
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/**
 * Sometimes when you've got a huge list of images like this,
 * it just makes sense to list them like this. You don't have to but I like to.
 */
.trulia-house-image-1 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-1.jpg);
}

.trulia-house-image-2 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-2.jpg);
}

.trulia-house-image-3 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-3.jpg);
}

.trulia-house-image-4 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-4.jpg);
}

.trulia-house-image-5 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-5.jpg);
}

.trulia-house-image-6 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-6.jpg);
}

.trulia-house-image-7 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-7.jpg);
}

.trulia-house-image-8 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-8.jpg);
}

.trulia-house-image-9 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-09.jpg);
}

.trulia-house-image-10 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-10.jpg);
}

.trulia-house-image-11 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-11.jpg);
}

.trulia-house-image-12 {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-12.jpg);
}

.trulia-house-facts {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0px 10px;
  margin: 0px;
}

.trulia-house-address {
  color: #787d81;
  font-style:normal;
}


.trulia-house-price {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.arrow-svg {
  height: 15px;
  margin: 0px 10px;
  padding: 5px 0px 0px 0px;
  width: 15px;
}

.trulia-house-price > * {
  margin: 0px;
  padding: 5px 0px 0px 0px;
  font-size: 16px;
}

.trulia-house-facts ul {
  padding: 0px;
  margin: 0px;
}

.trulia-house-facts li {
  list-style: none;
  padding: 0px 0px 2px 0px;
}

.trulia-house-facts p {
  padding: 0px;
}

.trulia-house-stats ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.trulia-house-stats li {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0px 10px 0px 0px;
}

.trulia-house-stats ul {
  padding: 0px 10px 0px 0px;
}



.trulia-article-icon {
  height: 15px;
  padding: 0px 3px 0px 0px;
}


.results-navigation {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 130px;
  justify-content: center;
  overflow:hidden;
}

.results-navigation > * {
  list-style: none;
  margin: 5px;
  padding: 0px;
}

.page-ui {
  display: flex;
  flex-direction: row;
}

.page-ui li {
  padding: 0px 10px;
}

.page-result-number p {
  color: #787d81;
  padding: 0px;
}

.page-breadcrumb {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.page-breadcrumb li {
  padding: 0px 5px;
}

.real-estate-insights {
  align-items: flex-start;
  background-color: white;
  display: flex;
  min-height: 220px;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 30px 30px;
  width: 90%;
}

.real-estate-insights h2 {
  font-weight: 600;
}

.trulia-site-footer {
  background-color: #474E52;
  color: #b1b6bb;
  margin:0;
  padding:10px;
}

.footer-links {
  padding: 20px 0px 0px 30px;
}

.footer-links a,
.footer-links a:visited {
  color:white;
}

.footer-links {
  list-style: none;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 10px;
  gap:10px;
}


.copyright {
  font-size: 10px;
  font-weight: normal;
  margin: 0px 10px;
  text-align:center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}