/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
 clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
 color: #000;
 font-size: 12px;
 line-height: 1.4;
 font-family: Helvetica, Arial, sans-serif;
 background: white;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
 max-width: 960px;
 margin: auto;
 padding-top: 5em;
}

header {
 background: url('../img/background.jpg');
 padding: 20px 0;
}

.title {
 text-align: center;
 color: black;
 font-size: 48px;
 font-weight: bold;
 font-family: 'Pacifico', helvetica, arial, sans-serif;
 background-color: rgba(255,255,255,0.75);
}

.title p {
 font-size: 30px;
 font-weight: normal
}

#mood {
 color: #6b6b6c;
 font-size: 38px;
 background: #fff;
 border: 1px solid #111;
 padding: 0px 30px;
 display: inline-block;
 width: 90%;
 margin-right: 24px;
 font-family: helvetica, arial, sans-serif;
 height: 72px;
 line-height: 74px;
 vertical-align: middle;
 box-shadow: #111 0 0 20px;
}
#submit-btn {
 background: #ffe500;
 color: #000;
 font-size: 38px;
 font-weight: bold;
 text-transform: uppercase;
 border: 1px solid #111;
 text-align: center;
 display: inline-block;
 width: 90%;
 height: 72px;
 line-height: 74px;
 vertical-align: middle;
 box-shadow: #111 0 0 50px;
 font-family: helvetica, arial, sans-serif;
 cursor: pointer;
}
#submit-btn:hover {
 background: #fff600;
}

.moodring {
 float: left;
 margin: 0 30px 30px 30px;
}

.moodring > div {
 width: 300px;
 height:300px;
 border-radius: 150px;
 overflow:hidden;
 border:1px solid rgb(150,150,150);
}

.moodform {
 width: 400px;
 margin:0;
 padding:0;
 display:inline-block;
 float:right;
}

/******************************************
/* MOODS
/*******************************************/

.excited {
 background: green;
 transition: background-color 2s;

}

.happy {
 background: blue;
 transition: background-color 2s;

}

.bad {
 background: black;
 transition: background-color 2s;

}


