
.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    margin: 10px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex:320px;

}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;
    min-width: 200px;
    margin-right:100px;
    margin-bottom: 10px;
}

.exerciseHeaderNav {

}

.exerciseHeaderNav ul {
    list-style-type:none;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.exerciseHeaderNav ul li {
    min-width: 150px;
    margin: 0 10px 10px 0;
    flex:1;

}


.exerciseMainContent {
    margin-bottom: 10px;
}


.exerciseAdditionalFeatures {
    display:flex;
}

.exerciseAdditionalFeatures .exerciseMarketingFeature {
    width: 33%;
    margin: 0 0 0 10px;
}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {
    margin-left: 0;
}