body {
  background-image: linear-gradient(45deg,  #004c99, #009994);
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  padding: 35px 70px 200px 70px;
}

/* offset page header height by height of the top header*/

h2 {
  padding-top: 80px;
}

div {
  padding-bottom: 30px;
}

code {
  font-family: courier;
}

.intro {
  margin-top: 25px;
}

.intro h1 {
  color: rgba(255,255,255,1);
  font-family: sans-serif;
  font-size: 36px;
}

/*
##################################
######## Container Styles ########
##################################
*/
.base-container {
  display: grid;
  margin: 30px 0;
}


/**
 * Exploring flex-direction and justify-content properties
 */

/* Defaults */

.grid01 {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-gap: 25px 10px;
}

.grid02 {
  grid-template-columns: 150px auto 100px 200px;
}

/* grid-gap property gives us equal padding around each grid item */
.grid03-a {
  grid-template-columns: 150px auto 100px 200px;
  grid-gap: 20px;
}

/* 
  grid-gap property can also take two values
  in that case, first value is column padding, second value is row padding
*/
.grid03-b {
  grid-template-columns: 150px auto 100px 200px;
  grid-gap: 20px 80px;
}

/* Note how 4 columns + 5 rows = 20 children */
.grid04 {
  grid-template-columns: 150px auto 100px 200px;
  grid-template-rows: 100px 200px 300px 100px 500px;
  grid-gap: 20px;
}

/* 
  Notice how grid05-a and grid05-b are basically the same thing
  But...look at the output. The `fr` unit takes the grip-gap into account automatically.
  Nice!
*/
.grid05-a {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 20px;
}

.grid05-b {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid06 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  height: 200%;
}

/*
##############################
######## Child Styles ########
##############################
*/

.base-child {
  background-color: #ffd900;
  border: 1px solid black;
  color: white;
  font-size: 48px;
}

.base-child-red {
  background-color: red;
  border: 1px solid white;
  color: white;
  font-size: 48px;
  height: 100px;
}

.base-child-stretch {
  background-color: orange;
  border: 1px solid white;
  color: white;
  font-size: 48px;
}

.child01 { height: 300px; width: 100px; }
.child02 { height: 100px; width: 100px; }
.child03 { height: 200px; width: 100px; }
.child04 { height: 500px; width: 100px; }
.child05 { height: 400px; width: 100px; }

/* To better demo align-items*/
.child10 {
  padding-top: 80px;
  padding-bottom: 60px;
  width: 100px;
}

.child11 {
  padding-top: 30px;
  padding-bottom: 50px;
  width: 100px;
}

.child12 {
  padding-top: 90px;
  padding-bottom: 10px;
  width: 100px;
}

.child13 {
  padding-top: 50px;
  padding-bottom: 40px;
  width: 100px;
}

.child14 {
  padding-top: 80px;
  padding-bottom: 30px;
  width: 100px;
}

/* ORDER */
.child20 {
  order: 4;
  width: 100px;
}

.child21 {
  order: 2;
  width: 100px;
}

.child22 {
  order: 1;
  width: 100px;
}

.child23 {
  order: 5;
  width: 100px;
}

.child24 {
  order: 3;
  width: 100px;
}

/* FLEX-GROW */
.child30 {
  flex-grow: 4;
}

.child31 {
  flex-grow: 2;
}

.child32 {
  flex-grow: 1;
}

.child33 {
  flex-grow: 5;
}

.child34 {
  flex-grow: 3;
}

/* FLEX-SHRINK */
.child40 {
  flex-shrink: 4;
  width: 300px;
}

.child41 {
  flex-shrink: 2;
  width: 300px;
}

.child42 {
  flex-shrink: 1;
  width: 300px;
}

.child43 {
  flex-shrink: 5;
  width: 300px;
}

.child44 {
  flex-shrink: 3;
  width: 300px;
}

/* align-item */
.child50 {
  align-self: flex-end;
}